*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family:Verdana, Tahoma, sans-serif
}
/*Styles of head*/
.head{
    background-color: white;
    color: black;
    height: 80px;
    border: 1px solid #fd3d0d;
}
/*Style of navigate*/
.head nav ul{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:30px;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 600;
 

}
.head nav ul li a{
    text-decoration: none;
}
/*Zona principal de la web*/
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main h2{
    color: black;
    text-align: center;
    font-size: 2.4rem;
    padding-top: 10px;
}
.main p{
    padding: 20px 15px 20px 15px;
    font-size: 1.6rem;
    text-align:center;
}
.main a{
    text-decoration: none;
}
.main div ol{
    text-align: center;
    padding-bottom: 10px;
}

/*pie de pagina*/
.foot {
    background-color: #fd3d0d;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    font-size: 1.4rem
 }
 .foot section a{
    text-decoration: none;
    padding-bottom: 10px;

 }